@import url(~sanitize.css/sanitize.css);

/* div要素は、縦並び */
.listContainer {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    text-align: center;
}

/* 横並び */
.upperList {
    margin: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* 横並び */
.lowerList {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* リストの要素に高さと幅を持たせて、ボーダーを設ける */
.upperList li {
    width: 80px;
    height: 80px;
    border: 2px solid mediumpurple;
    cursor: pointer;
}

.lowerList li {
    width: 80px;
    height: 80px;
    border: 2px solid deepskyblue;
    cursor: pointer;
}